{% extends 'base.html.twig' %}

{% block title %}Interv index{% endblock %}

{% block body %}
    <h1>Interv index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lieu</th>
                <th>Dateheure</th>
                <th>ClownA</th>
                <th>ClownB</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for interv in intervs %}
            <tr>
                <td>{{ interv.id }}</td>
                <td>{{ interv.lieu.lieu }}</td>
                <td>{{ interv.dateheure ? interv.dateheure|date('Y-m-d') : '' }}</td>
               {% if interv.clownA.pseudo is defined %} <td> {{ interv.clownA.pseudo }} </td> {% else %} <td> à definir </td> {% endif %}
                {% if interv.clownB.pseudo is defined %} <td> {{ interv.clownB.pseudo }} </td> {% else %} <td> à definir </td> {% endif %}
                <td>{{ interv.statut }}</td>
                <td>
                    <a href="{{ path('app_interv_show', {'id': interv.id}) }}">show</a>
                    <a href="{{ path('app_interv_edit', {'id': interv.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_interv_new') }}">Create new</a>
{% endblock %}
